@media screen and (min-width: 600px){
/*---------------------------------------------------*/
/*GENERAL*/

  body {
    margin: 2% 8%;
  }

  header{
    border-bottom: 1px solid #48360c;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding-bottom: 10px;
  }

  .heading {
    border: none;
  }

  #logo {
    max-width: 400px;
  }

  .hamburger_menu {
    display: none;
  }

  .sidenav {
    display: none;
  }

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin: 5px 0;
    margin-bottom: 5px;
  }

  .nav_item a{
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.25em;
    color: #48360c;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 10px;
  }

  .nav_item.active a, .nav_item a:hover,
  .nav_item a:focus {
    color: #85c854;
    text-decoration: underline;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
  }


/*---------------------------------------------------*/
/*GALLERY*/

  .gallery {
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: repeat(5, 300px);
  }


/*---------------------------------------------------*/
/*RESUME*/

  .resume span {
    font-size: 1em;
  }
  .resume h2 {
    font-size: 1.5em;
  }
  .resume p {
    font-size: 1em;
  }

  .resume h3{
    font-size: 1.17em;
    text-decoration: underline;
  }


/*---------------------------------------------------*/
/*ABOUT*/

  .about h2 {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .about p {
    grid-area: 3 / 1 / span 1 / span 2; 
    word-break: break-all;
  }

  .about h2:nth-of-type(2) {
    grid-area: 2 / 3 / span 1 / span 1;
  }

  .about ul {
    grid-area: 3 / 3 / span 1 / span 1; 
  }


/*---------------------------------------------------*/
/*CONTACT*/
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
  }

  .socials img {
    max-height: 50px;
  }

  .social {
    margin: 0 30px;
  }
}